
.header {
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.site-title {
    text-decoration: none;
    color: #202c2d;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    font-size: 2rem;
    /* letter-spacing: 4px; */
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 1rem;  
}
.fa-record-vinyl {
    font-size: 3rem;
}
nav.main ul {
    padding: 0.5rem;
    margin: 0;
    
}
nav.main > ul {
    display: flex;

}
nav.main ul ul {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 12rem;
    transition: opacity 0.1s ease-out, transform 0.1s ease-in;
    transform: translateY(2rem);
    
}
li{
    z-index: 1;
}
nav.main ul > {
   padding-top: 0.5rem;
   
}
nav.main > ul > li > ul {
    top: 100%;
    left: -0.5rem;
}
nav.main > ul > li > ul > li > ul {
    top: -0.5rem;
    left: inherit;
    right: 100%;
}
nav.main > ul ul li {
    padding-bottom: 0.5rem;
}

nav.main li {
    display: block;
    list-style-type: none;
    position: relative;
}
nav.main li:hover > ul  {
    opacity: 1;
    pointer-events: inherit;
    transform: translateY(0);
}
nav.main > ul > li:not(:last-child) {
    padding-right: 0.5rem;

}
nav.main a {
    display: block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.3rem;
}
nav.main li:hover > a, nav.main a:hover{
    background: #070;
}
#main-nav-toggle {
    display: none;
}
@media screen and (max-width: 800px){
    #main-nav-toggle:checked + header nav.main {
        display: block;
    }
    nav.main {
        display: none;
    }
}
@media screen and (min-width: 800px){
    #toggle {
        display: none;
    }
}
.welcome {
    color:  #FFF;
    padding: 0.5rem 1rem;
}