
.register {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 480px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 34px;
    padding-bottom: 22px;
    border-radius: 4px;
}

form {
    outline: none;
    
}
fieldset {
    border: none;
}
legend {
    font-size: 24px;
    margin: auto;
}
.input {
    position: relative;
    border-bottom: 1px solid #EDEDED;
    padding-right: 4px;
}

input {
    width: 100%;
    padding: 12px 0px 12px 6px;
    border: 0;
}
.input input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #727070;
    border-radius: 2px;
    background-color: #f2f1f1;
}

.submit {
    background-color: rgb(63, 62, 62);
    margin-top: 8px;
    padding: 14px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}
.valid-email, .valid-password {
    display: none;
    font-size: 11px;
    color: red;
}
.invalid-email, .invalid-password {
    display: block;
    font-size: 11px;
    color: rgb(255, 60, 1);
    border: 1px solid rgb(164, 164, 164);
}


