
.card {
    
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    width: 20rem;
    overflow: hidden;
    box-shadow: 3px 0 1rem 0 rgba(255, 255, 255, 0.2);
    margin: 2rem;
    float:left;
}
.card-details{
     
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    width: 560px;
    overflow: hidden;
    box-shadow: 3px 0 1rem 0 rgba(255, 255, 255, 0.2);
    margin: 2rem;
    float:left;
}
.card .media {
    position: relative;
    overflow: hidden;
    

}
.card .media:after {
    display: block;
    content: '';
    padding-top: 56.25%;
    

}

.card .content {
    background-color: rgb(220, 220, 220);
    padding: 2rem;
    overflow: hidden;
}
.card .media img {
    display: block;
    position: absolute;
    left: 0; right: 0;
    width: 100%;
    height: auto;
}
.card .media iframe {
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    border: none;  
}
.content .heading {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 0.4rem 0;
}
.button {
    display:block;
    text-decoration: none;
    background-color: rgb(0, 153, 0);
    color: white;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    float: right;  
}


.delete {
    background-color: rgb(249, 52, 38);
    padding: 0.8rem 1rem;
    border: none;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 10px;
}
.like-button {
    /* border: none; */
    /* outline: none; */
    margin: 5px;
    background-color: rgb(247, 247, 247);;
    
}
.like-button i {
    color: rgb(39, 39, 244);
    font-size: 1.3rem;
}
.likes i {
    color:  rgb(29, 29, 220);
}
.likes p {
    color: rgb(84, 83, 83)
}

.card-details span {
    font-style: italic;
}
.card-details .title {
    text-align: center;
}

